<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container-fluid text-center" >
        <div >
            <h2>Contato</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat
                sit in iste officiis commodi quidem hic quas.</p>
        </div>
        <div>
            <iframe width="100%" height="250px"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120359.0269838569!2d-42.64588495038!3d-19.489185985669902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb00048e32cded7%3A0xe2e4478cf6caa207!2sAv.%20Livramento%2C%20285%20-%20Veneza%2C%20Ipatinga%20-%20MG%2C%2035164-301!5e0!3m2!1spt-BR!2sbr!4v1623459757112!5m2!1spt-BR!2sbr"
                loading="lazy" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Localização:</h4>
              <p>Avenida Livramento, 285, Veneza- IPATINGA</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>socialpelavida@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Telefone:</h4>
              <p>(031) 3822-9388</p>
            </div>

          </div>
        </div>
        </div>

</section><!-- End Contact Section -->