#hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.container-fluid {
    max-width: 100%;
    padding: 0;
}
#mainSlider .carousel-inner,#mainSlider .carousel-item {
    height: 40vh;
}

.text-center {
    text-align: center !important;
}
